{% extends "index.html" %}
{% block what % }
<h2> Kontakt </h2>
{% endblock %}
{% block content %}
<ul> 
    <li>email: przepjurka@gmail.com</li>
  
    <li>telefon: 123-456-789</li>
  
    </ul>
  
  <div class="container">
    <form action="", method="POST">
  
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
  
    </form>
  </div>
  
{% endblock %}